{% extends 'base.html' %} 

{% block body %}
<div>
  <div>
  <p style="text-align: center; font-size: 100px; font-family: 'Rockwell Extra Bold'">Image Details and Share</p>
  <p></p>
    <img src="https://giffiles.alphacoders.com/617/61791.gif" alt="Smiley face" width="100" height="100" style="horiz-align:center; margin:10px 515px">
    <div>
  <img src="{{photo.image.url}}" alt="" width="100%" style="horiz-align:center; margin:10px 10px"/>
</div>
    <div>
      <p></p>
    </div>
  </div>


  <div class="mx-auto">
  {% if user == photo.submitter %}
    <p class="text-center">
      <span><a href="{% url 'photo:update' photo.id %}" class="btn btn-success w-20 mb-3">Update Image</a></span>
      <span><a href="{% url 'photo:delete' photo.id %}" class="btn btn-danger w-20 mb-3">Delete Image</a></span>
      <a href="{{request.get_absolute_uri}}" class="btn btn-primary w-20 mb-3">Share Image</a>
    </p>
  {% endif %}
</div>

  </div>
  <h4 style="text-align:center; margin: 10px">Image Details</h4>
  <h1 class="text-center">{{ photo.title }}</h1>
<div>
      <p></p>
    </div>
  <p class="text-center fw-light" style="font-family: 'Rockwell Extra Bold',sans-serif; font-size: 20px">Date and Time Uploaded: {{photo.created}} <br> Uploader: {{photo.submitter.username}}</p>
    <ul class="list-group list-group-horizontal-lg list-unstyled py-4">
      {% for tag in photo.tags.all %}
        <li><a href="{% url 'photo:tag' tag.slug %}" class="btn btn-tag list-group-item list-group-item-success">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
    <p>{{ photo.description }}</p>
</div>
</div>

{% endblock body %}
