<nav class="navbar navbar-expand-md navbar-dark bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'photo:list' %}">Pic Bean</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse flex-row-reverse"
        id="navbarTogglerDemo02"
      >
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
           <li>
             <p><a href="{% url 'user:login' %}" class="btn btn-danger">Log Out</a></p>
           </li>
          <li class="nav-item">
            <a class="btn btn-primary active" href="{% url 'photo:create' %}">Add Image</a>
          </li>

          <li class="nav-item">
            <a class="btn btn-success active" href="{% url 'photo:list' %}">{{user.username}}</a>
            <p style="text-align: center; font-family: 'Rockwell Extra Bold',sans-serif">Profile</p>
          </li>

          {% else %}
  
          <li class="nav-item">
            <a href="{% url 'user:login' %}" class="btn btn-primary btn-success"
              >Sign In</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'user:signup' %}" class="btn btn-secondary btn-danger"
            >Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  